@using System.Web.Optimization
<br />

<div ng-controller="">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Titulo da Pagina.</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">

        <br />
    </div>

    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/xxxxxCtrl")
}
