@using System.Web.Optimization
<br />

<div ng-app="" ng-controller="" ng-init="setup()" class="ng-cloak">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Titulo da Pagina.</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>
    
    <button class="form-control btn btn-success ladda-button" ladda="view.xxxxxx" data-style="expand-left" ng-click="xxxxxxx()">xxxxxxx</button>


    <div class="container bg-branco">
        <br />
        <hr />
        <table datatable="ng" dt-options="view.dtOptions" class="table table-hover">
            <thead>
            <tr>
                <th>xxxxx</th>
                <th>xxxxx</th>
                <th>xxxxx</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in viewdata.list track by $index">
                <td>{{item.xxxxx}}</td>
                <td>{{item.xxxxx}}</td>
                <td>{{item.xxxxx}}</td>
                <td>
                    <div class="col-lg-6">
                        <button class="form-control btn btn-primary" ng-click="editar(item)">
                            Editar
                            <span class="fa fa-pencil-square-o"></span>
                        </button>
                    </div>
                    <div class="col-lg-6">
                        <button class="form-control btn btn-danger" ng-click="excluir(item)">
                            Excluir
                            <span class="fa fa-ban"></span>
                        </button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/xxxxxCtrl")
}
