<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Deploy" ToolsVersion="3.5">
  <PropertyGroup>
    <!-- Diretórios -->
    <RootDir>$(MSBuildProjectDirectory)\</RootDir>
    <BuildDir>$(RootDir)_build\</BuildDir>
    <PackageDir>$(RootDir)_pkg\</PackageDir>
    <SourceDir>$(RootDir)src\</SourceDir>
    <ToolsDir>$(RootDir)tools\</ToolsDir>
  	<Packages>$(SourceDir)packages\</Packages>
    <Configuration>Debug</Configuration>
    <Platform>Any CPU</Platform>
    <iisPath></iisPath>
    <MSBuildExtensionsPath>$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v14.0\Web</MSBuildExtensionsPath>
    <ExtensionTasksPath>$(ToolsDir)msbuild\ExtensionPack\</ExtensionTasksPath>
    
    <!-- Número de Versão -->
    <ProductVersionBase>1.0</ProductVersionBase>
	  <Build>$(BUILD_NUMBER)</Build>
    
    <!-- Diretório de Ferramentas auxiliares -->    
    <MSpecExe>$(Packages)Machine.Specifications.Runner.Console.0.9.2\tools\mspec-clr4.exe</MSpecExe>
  </PropertyGroup>
  
  <Choose>
    <When Condition=" '$(BUILD_NUMBER)'!='' ">
      <PropertyGroup>
        <Build>$(BUILD_NUMBER)</Build>
      </PropertyGroup>
    </When>
    <When Condition=" '$(BUILD_NUMBER)'=='' ">
      <PropertyGroup>
        <Build>0</Build>
      </PropertyGroup>
    </When>
  </Choose>
  
  <ItemGroup>
    <SolutionFile Include="$(SourceDir)Boipeba.sln" />
  </ItemGroup>
  
  <Import Project="$(ToolsDir)msbuild\MSBuild.Community.Tasks.Targets"/>
  <Import Project="$(ExtensionTasksPath)MSBuild.ExtensionPack.tasks"/>
  
  <UsingTask TaskName="TransformXml" AssemblyFile="$(MSBuildExtensionsPath)\Microsoft.Web.Publishing.Tasks.dll"/>
  <UsingTask TaskName="RemoveContent" AssemblyFile="$(ExtensionTasksPath)\MSBuild.ExtensionPack.dll"/>
  
  <Target Name="Integrate">    
    <CallTarget Targets="Rebuild; TransformConfig; Package;"></CallTarget>
  </Target>

  <Target Name="Dev">
    <CallTarget Targets="Rebuild; TransformConfig; Package;"></CallTarget>
  </Target>

  <Target Name="Clean">
    <MSBuild Projects="@(SolutionFile)" Targets="Clean" Properties="Configuration=$(Configuration);Platform=$(Platform);OutDir=$(BuildDir)"/>
    <RemoveDir Directories="$(BuildDir)" ContinueOnError="true"/>
    <RemoveDir Directories="$(PackageDir)" ContinueOnError="true"/>
  </Target>

  <Target Name="GenerateAssemblyInfo">
    <Message Text="Versão do build: "/>
    <Message Text="'$(GIT_BRANCH) $(ProductVersionBase).$(Build)"/>
	
    <AssemblyInfo CodeLanguage="CS"
               OutputFile="$(SourceDir)Boipeba.Web\Properties\AssemblyInfo.cs"
               AssemblyCompany="Ministério Público da Bahia"
               AssemblyProduct="Boipeba"
               AssemblyCopyright="Copyright (c) Ministério Público da Bahia 2015"
               AssemblyTrademark=""
               ComVisible="false"
               CLSCompliant="false"
               AssemblyVersion="$(ProductVersionBase).$(Build)"
               AssemblyFileVersion="$(ProductVersionBase).$(Build)" 
			   />
  </Target>

  <Target Name="Build" DependsOnTargets ="GenerateAssemblyInfo">
    <MSBuild Projects="@(SolutionFile)" Properties="Configuration=$(Configuration);Platform=$(Platform);OutDir=$(BuildDir);"/>
  </Target>

  <Target Name="Rebuild">
    <CallTarget Targets="Clean; NuGet; Build"></CallTarget>
  </Target>


  <Target  Name="Package">
    <ItemGroup>
      <BuildFiles Include="$(BuildDir)_PublishedWebsites\Boipeba.Web\**\*.*" />
    </ItemGroup>
    <Zip
      Files="@(BuildFiles)"
      ZipLevel="6"
      WorkingDirectory="$(BuildDir)_PublishedWebsites"
      ZipFileName="$(PackageDir)Boipeba-$(ProductVersionBase).$(Build).zip"/>
  </Target>


  <Target Name="TransformConfig">
    <TransformXml Source="$(BuildDir)_PublishedWebsites\Boipeba.Web\Web.config"
        Transform="$(BuildDir)_PublishedWebsites\Boipeba.Web\Web.$(Configuration).config"
        Destination="$(BuildDir)_PublishedWebsites\Boipeba.Web\Web.config" />
  
    <Delete Files="$(BuildDir)_PublishedWebsites\Boipeba.Web\Web.Debug.config" />
    <Delete Files="$(BuildDir)_PublishedWebsites\Boipeba.Web\Web.Release.config" />
    <Delete Files="$(BuildDir)_PublishedWebsites\Boipeba.Web\Web.Producao.config" />

  </Target>
  
  <Target Name="NuGet">
    <ItemGroup>
       <NuGetPackageConfigs Include="$(SourceDir)\**\packages.config" />
    </ItemGroup>  
    <Message Importance="high" Text="Retrieving packages for %(NuGetPackageConfigs.Identity)" />
    <Exec Command="&quot;$(ToolsDir)\nuget\nuget&quot; install &quot;%(NuGetPackageConfigs.Identity)&quot; -o &quot;$(SourceDir)\packages&quot;" />
  </Target>

</Project>
