<br />
<div class="container bg-azul">
    <div class="row">
        <div class="col-xs-12">CSI</div>
    </div>
</div>
<div class="container bg-branco">

    <div class="bs-example">
        <div class="row">
            <div class="col-lg-12">
                

                <div id="errorAlert" class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Serviço temporariamente indisponível
                </div>


            </div>
        </div>
    </div>
</div>
