<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <include uri="file://container-tst.config" />
  </castle>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="SCSI">
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">boipeba</property>
      <property name="dialect">SCSI.Core.CustomMsSql2012Dialect, SCSI.Core</property>
      <property name="show_sql">true</property>
      <property name="format_sql">true</property>
    </session-factory>
  </hibernate-configuration>

  <connectionStrings>
    <add name="intranet" connectionString="intranet.mp.ba.gov.br" />
    <add name="boipeba" connectionString="Data Source=piett\teste;Initial Catalog=tramite; User Id=tramite; Password=usertramite" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>