@using System.Web.Optimization
@using Boipeba.Web.HtmlHelpers

@model Boipeba.Core.Modulos.Processos.Processo

<br />
<div ng-controller="movimentarProcessoCtrl" ng-app="boipeba" class="ng-cloak" ng-init='setup(@Html.JsonFor(@Model))'>
    @Html.Partial("_editarComplemento")
    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Movimentar Processo</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco" ng-show="view.showform">
        <br />
        <form name="movimentarProcessoForm" ng-validate="{}">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group" ng-class="{'has-error': view.invalidMovimento}">
                        <label class="control-label" for="movimento">Movimento</label>
                        <div angucomplete-alt id="movimento" input-name="movimento" placeholder="Informe o Movimento" pause="400"
                             selected-object="viewdata.Movimento" remote-url="/api/movimentos/?part=" remote-url-data-field="" field-required="true" field-required-class="has-error"
                             title-field="DsMovimentoSimples" description-field="DsMovimento" minlength="3" match-class="highlight" input-class="form-control form-control-small"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="glossario">Glossário</label>
                        <div class="well">{{viewdata.Movimento.originalObject.DsGlossario}}</div>
                        @*<textarea class="form-control" id="glossario" name="glossario" rows="2" placeholder="Glossário" disabled ng-model="viewdata.Movimento.originalObject.DsGlossario"></textarea>*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label class="control-label">Complemento</label>
                    <div class="summernote"></div>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Encaminhar</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="ouDestino">Pessoa ou Órgão/Unidade</label>
                            <div angucomplete-alt id="ouDestino" input-name="ouDestino" placeholder="Em caso de encaminhamento, informe um destino diferente do atual." pause="400"
                                 selected-object="viewdata.Destino" remote-url="/api/destinatarios/?part=" remote-url-data-field=""
                                 title-field="Descricao" minlength="3" match-class="highlight" input-class="form-control form-control-small"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row" ng-if="viewdata.errorMsg">
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{viewdata.errorMsg}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <a class="btn btn-sq-lg btn-primary" ng-click="validaForm(movimentarProcessoForm) && salvar()">Movimentar</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container bg-branco" ng-show="view.showsuccess">
        <br />
        <div class="alert alert-success">
            <div class="row">
                <div class="col-lg-12">
                    Movimento cadastrado com sucesso!
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-8">
                    <a href="#" ng-click="historico()" class="btn btn-sq-lg btn-primary">Ver histórico <span class="fa fa-search"></span></a>
                </div>
            </div>
        </div>
    </div>
    <form id="historicoForm" action="/Processos/Historico" method="post">
        <input type="hidden" id="idHistorico" name="idHistorico" />
    </form>
    <br />
    

</div>

@section Scripts {
    @Scripts.Render("~/bundles/movimentarProcessoCtrl")
    @Scripts.Render("~/bundles/jquerySetupMasks")
}
