@using System.Web.Optimization
<br />

<div ng-controller="cadastrarProcessoGenericoCtrl" ng-app="boipeba" class="ng-cloak" ng-init="setup(); viewdata.model.Urgente = false; viewdata.model.Reservado = false; viewdata.model.Sociedade= false ">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Processo Genérico</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">
        <br />
        <form name="processoGenericoForm" ng-validate="{}">
            <div class="row">
                <div class="col-lg-3">
                    <label for="data">Cadastro</label>
                    <div class="input-group date control-label" data-provide="datepicker" data-date-language="pt-BR">
                        <input type="text" class="form-control" id="data" name="data" required ng-model="viewdata.model.Cadastro">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <label for="Simp">SIMP</label><br />
                    <div class="input-group">
                        <span class="input-group-addon">Nº</span>
                        <input placeholder="___._.___/____" class="form-control simp-group simp" id="Simp" name="Simp" ng-model="viewdata.model.Simp" />
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <br />
                        <label for="urgente"><span class="fa fa-warning fa-fw"></span> Urgente</label>

                        <input type="checkbox" id="urgente" name="urgente"
                               bs-switch switch-on-text="Sim" switch-off-text="Não" switch-on-color="warning" switch-off-color="default"
                               ng-model="viewdata.model.Urgente">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <br />
                        <label for="reservado"><span class="fa fa-lock fa-fw"></span> Reservado</label>
                        <input type="checkbox" id="reservado" name="urgente"
                               bs-switch switch-on-text="Sim" switch-off-text="Não" switch-on-color="primary" switch-off-color="default"
                               ng-model="viewdata.model.Reservado">
                    </div>
                </div>

            </div>

            <hr />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Interessado</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
						<div class="form-group col-lg-4">
                            <label class="control-label" for="pessoaInteressada">Nome</label>
                            <input type="text" class="form-control" id="pessoaInteressada" name="pessoaInteressada" placeholder="Pessoa interessada" required ng-model="viewdata.model.Interessado">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="ouInteressado">Órgão/Unidade</label>
                            <div angucomplete-alt id="ouInteressado" input-name="ouInteressado" placeholder="Digite o Órgão/Unidade" pause="400" 
                                 selected-object="viewdata.OrgaoUnidadeInteressado" remote-url="/api/orgaosunidades/?part=" remote-url-data-field="" 
                                 title-field="DsOrgaoUnidade" minlength="3" match-class="highlight" input-class="form-control form-control-small" 
                                 disable-input="viewdata.model.Sociedade"></div>
                        </div>
                        <div class="col-lg-2">
                            <label for="sociedade"> A Sociedade</label>
                            <br />
                            <input type="checkbox" id="sociedade" name="sociedade" class="interessado-group"
                                   bs-switch switch-on-text="Sim" switch-off-text="Não" switch-on-color="primary" switch-off-color="default"
                                   ng-model="viewdata.model.Sociedade" ng-change="tratarOuInteressado()">
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Assunto</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="assunto">Assunto</label>
                                <div angucomplete-alt id="assunto" input-name="assunto" placeholder="Digite o Assunto" pause="400"
                                     selected-object="viewdata.Assunto" remote-url="/api/assuntos/?part=" remote-url-data-field=""
                                     title-field="DsAssunto,CdAssunto" minlength="0" match-class="highlight" input-class="form-control form-control-small">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" for="complemento">Complemento</label>
                                <textarea class="form-control" id="complemento"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Destinatário</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="ouDestino">Pessoa ou Órgão/Unidade</label>
                            <div angucomplete-alt id="ouDestino" input-name="ouDestino" placeholder="Digite o Órgão/Unidade" pause="400"
                                 selected-object="viewdata.OrgaoUnidadeDestinatario" remote-url="/api/orgaosunidades/?part=" remote-url-data-field=""
                                 title-field="DsOrgaoUnidade" minlength="3" match-class="highlight" input-class="form-control form-control-small"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-offset-8 col-xs-12 col-lg-4">
                <button type="button" class="btn btn-primary btn-block" ng-click="validaForm(processoGenericoForm) && salvar()">
                    Enviar <span class="fa fa-paper-plane"></span>
                </button>
            </div>
        </div>

        <br />

    </div>
    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/cadastrarProcessoGenericoCtrl")
    @Scripts.Render("~/bundles/jquerySetupMasks")
}
