@using System.Web.Optimization
<br />

<div ng-controller="">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Cadastro de Processos</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco theme-showcase">
        <br/>
        <div class="row">
            <div class="col-xs-12 col-lg-2 item-dashboard">
                <a href="@Url.Action("Generico", "Cadastro")" class="btn btn-sq-lg btn-primary">
                    <i class="fa fa-book fa-5x"></i><br/>
                    <br/>Novo Processo
                </a>
            </div>
            <div class="col-xs-12 col-lg-2 item-dashboard">
                <a href="@Url.Action("SolicitarDiaria", "Tramitacao", new {area = ""} )" class="btn btn-sq-lg btn-warning">
                    <i class="fa fa-plane fa-5x"></i><br />
                    <br />Solicitar Diária
                </a>
            </div>
        </div>

        <br/>
    </div>

    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/cadastroCtrl")
}
