
<br />

<div ng-app="boipeba" ng-controller="statusCtrl" ng-init="setup()" class="ng-cloak">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Cadastro de Situações</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Opções</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 pull-right">
                                <button class="form-control btn btn-success ladda-button" data-style="expand-left" ng-click="nova()">Nova</button>        
                            </div>
                        </div>
                        
                    </div>
                </div>                
            </div>
        </div>
        
        <hr/>
        
        <loading target="view.loadingList"></loading>

        <table datatable="ng" dt-options="view.dtOptions" class="table table-hover">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Fechamento</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in viewdata.list track by $index">
                <td>{{item.Nome}}</td>
                <td>{{item.Descricao}}</td>
                <td>{{item.Fechamento | simnao}}</td>
                <td>
                    <div class="col-lg-6">
                        <button class="form-control btn btn-primary" ng-click="editar(item)">
                            Editar
                            <span class="fa fa-pencil-square-o"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    @Html.Partial("_form")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/statusCtrl")
}
