<div class="modal fade" id="formModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nave</h4>
            </div>
            <div class="modal-body">
                <form name="simpleForm" ng-validate="{}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Nome">Nome</label>
                                <input type="text" class="form-control required" width="100" id="Nome" name="Nome" ng-model="viewdata.model.Name" />
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Agency">Agencia</label>
                                <input type="text" class="form-control required" width="100" id="Agency" name="Agency" ng-model="viewdata.model.Agency" />
                            </div>
                        </div>
                    </div>

                </form>
                
                <loading target="view.loading"></loading>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="salvar(simpleForm)">Salvar</button>
            </div>
        </div>
    </div>
</div>