@using System.Web.Optimization
<br />

<div ng-app="boipeba" ng-controller="dashboardCtrl" ng-init="setup()" class="ng-cloak">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Página Inicial</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notificações <span class="badge">2</span></h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    <strong>Atenção</strong> Você tem uma nova entrada.
                </div>
                <div class="alert alert-warning">
                    <strong>Pendência</strong> Documento xxxxx pendente de encaminhamento.
                </div>
            </div>
        </div>

        <br />


        <h3 class="panel-title">Caixa de Entrada <span class="badge">3</span></h3>
        <hr />

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-danger">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="fa fa-warning fa-fw"></span>  SIMP: <strong>003.0.345678/2020</strong> - Controle e Fiscalização Art. 57 XXIV. Pedido de Providências
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Nome">Atribuído Para:</label>
                                            <input type="text" class="form-control" disabled value="Antônio Vivaldo de Oliveira Filho" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="nascimento">Atribuído Em:</label>
                                            <div class="input-group date">
                                                <input type="text" class="form-control" disabled="" width="10" id="nascimento" name="nascimento" value="01/01/2020 15:25:39">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <br/>
                                            <button class="btn btn-primary">
                                                Visão Geral <span class="fa fa-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <br/>
                                            <button class="btn btn-default">
                                                Apensar <span class="fa fa-clipboard"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <br />
                                            <button class="btn btn-default">
                                                Tramitar <span class="fa fa-forward"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    SIMP: <strong>003.0.123456/2020</strong> - Correição Ordinária Art. 57 XVIII. Correição Ordinária
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    SIMP: <strong>003.0.987651/2020</strong> - Controle e Fiscalização Art. 57 LI. Solicitação de Informações
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dashboardCtrl")
}
