@using System.Web.Optimization
<br />

<div ng-app="boipeba" ng-controller="dashboardCtrl" ng-init="setup()" class="ng-cloak">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Página Inicial</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">
        Bem vindo! {{msg}}
        <br />
    </div>

    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dashboardCtrl")
}
