@using System.Web.Optimization
<br />

<div ng-app="boipeba" ng-controller="dashboardCtrl" ng-init="setup()" class="ng-cloak">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Página Inicial</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notificações <span class="badge">2</span></h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-success">
                    <strong>Atenção</strong> Você tem uma nova entrada.
                </div>
                <div class="alert alert-warning">
                    <strong>Pendência</strong> Documento xxxxx pendente de encaminhamento.
                </div>
            </div>
        </div>

        <br />


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Caixa de Entrada <span class="badge">{{viewdata.processos.length}}</span></h3>
            </div>
            <div class="panel-body">

                <loading target="view.loadingList"></loading>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default" ng-repeat="item in viewdata.processos">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="text-danger"><strong>SIMP: {{item.Simp}}</strong> <span class="fa fa-warning"></span>  </span><small>{{item.Assunto.DsAssunto}}</small>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Nome">Atribuído Para:</label>
                                            <input type="text" class="form-control" disabled value="{{item.Destino}}" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="nascimento">Atribuído Em:</label>
                                            <div class="input-group date">
                                                <input type="text" class="form-control" disabled="" width="10" id="nascimento" name="nascimento" value="{{item.UltimaModificacao | jsdatetime}}">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="ultimoMovimento">Último Movimento</label>
                                            <input type="text" class="form-control" id="ultimoMovimento" placeholder="Último Movimento" disabled value="{{item.UltimoMovimento.Movimento.DsMovimentoSimples}}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <br />
                                            <button class="btn btn-primary">
                                                Visão Geral <span class="fa fa-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <br />
                                            <button class="btn btn-default">
                                                Apensar <span class="fa fa-clipboard"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <br />
                                            
                                            <button class="btn btn-default" ng-click="movimentar(item.Id)">
                                                Movimentar <span class="fa fa-forward"></span>
                                            </button>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <form id="movimentarForm" action="/Processos/Movimentar" method="post">
                        <input type="hidden" id="id" name="id"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dashboardCtrl")
}
