@using System.Web.Optimization
<br />

<div ng-app="boipeba" ng-controller="dashboardCtrl" ng-init="setup()" class="ng-cloak">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Página Inicial</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Caixa de Entrada <span class="badge">{{viewdata.processos.length}}</span></h3>
            </div>
            <div class="panel-body">

                <loading target="view.loadingList"></loading>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default" ng-repeat="item in viewdata.processos">
                        <div class="panel-heading" role="tab" id="heading{{item.Id}}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{item.Id}}" aria-expanded="true" aria-controls="collapseOne{{item.Id}}">
                                    <span class="text-danger"><strong ng-if="item.Simp">SIMP: {{item.Simp}}</strong> <span class="fa fa-warning" ng-if="item.Urgente"></span>  </span><small>{{item.Assunto.DsAssunto}}</small>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne{{item.Id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{item.Id}}">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-group btn-group-primary">
                                            <button class="btn btn-primary" type="button">Ações</button>
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" ng-click="historico(item.Id)">Histórico&nbsp;<span class="fa fa-search"></span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="#" ng-click="movimentar(item.Id)">Movimentar&nbsp;<span class="fa fa-forward"></span></a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Número:</label><br />
                                            <span>{{item.Id}} / {{item.Cadastro | jsyear}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="nascimento">Modificado Em:</label> <br />
                                            <div class="input-group date">
                                                {{item.UltimaModificacao | jsdatetime}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Nome">Atribuído Para:</label><br />
                                            <span>{{item.Destino}}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label" for="ultimoMovimento">Último Movimento</label> <br />
                                            {{item.UltimoMovimento.Movimento.DsMovimentoSimples}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="movimentarForm" action="/Processos/Movimentar" method="post">
                        <input type="hidden" id="id" name="id" />
                    </form>
                    <form id="historicoForm" action="/Processos/Historico" method="post">
                        <input type="hidden" id="idHistorico" name="idHistorico" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dashboardCtrl")
}
