<configuration>
  <components>
    <component id="GlobalSettings" type="Boipeba.Core.GlobalSettings, Boipeba.Core">
      <parameters>
        <TimeOut>480</TimeOut>
        <MovimentoEncaminhamentoOrgaoInterno>920025</MovimentoEncaminhamentoOrgaoInterno>
      </parameters>
    </component>
  </components>
</configuration>