@using System.Web.Optimization
<br />

<div ng-controller="solicitarDiariaCtrl" ng-app="boipeba" class="ng-cloak" ng-init="setup()">

    <div class="container bg-azul">
        <div class="row">
            <div class="col-xs-10">Solicitar Diária</div>
            <div class="col-xs-2 text-right">
                <a href="#" class="button-tour" style="color: white; display: none"><span class="fa fa-question-circle"></span><span>&nbsp;Ajuda Interativa</span></a>
            </div>
        </div>
    </div>

    <div class="container bg-branco">
        <br />
        <form name="solicitarDiaria" ng-validate="{}">
            <div class="panel panel-default" id="diariasAdministrativas">
                <div class="panel-heading">Diárias Administrativas</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="comarca">Comarca</label>
                            <input type="text" class="form-control" name="comarca" id="comarca" disabled="disabled" ng-model="viewdata.model.Comarca" />
                        </div>
                        <div class="form-group col-xs-3">
                            <label for="data">Data</label>
                            <div class="input-group date">
                                <input type="text" class="form-control" name="data" id="data" disabled="disabled" ng-model="viewdata.model.Data" />
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="tipoDiaria">Tipo de Diária</label>
                            <select class="form-control" id="tipoDiaria" name="tipoDiaria" ng-model="viewdata.model.TipoDiaria"></select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="control-label" for="ouGestor">Órgão/Unidade Gestor</label>
                            <select class="form-control" id="ouGestor" name="ouGestor" ng-model="viewdata.model.UnidadeGestora"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Dados Básicos</div>
                <div class="panel-body">
                    <div class="row" id="beneficiario">
                        <div class="row col-xs-12">
                            <div class="form-group col-xs-3">
                                <label for="matricula">Matrícula</label>
                                <input type="text" class="form-control" required name="matricula" id="matricula" ng-model="viewdata.model.Beneficiario.Matricula" />
                            </div>
                            <div class="form-group col-xs-4">
                                <label for="email">E-mail</label>
                                <input type="text" class="form-control" required id="email" name="email" ng-model="viewdata.model.Beneficiario.Email" placeholder="seuemail@mpba.mp.br">
                            </div>
                            <a href="javascript:void(0)" ng-click="abrirModalBeneficiario()" class="btn btn-primary"> Ver Beneficiário &nbsp;<span class="fa fa-user"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="informacoesBancarias">
                <div class="panel-heading">Informações Bancárias</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label class="control-label" for="banco">Banco</label>
                            <select class="form-control" id="banco" name="banco" ng-model="viewdata.model.Banco"></select>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="agencia">Agência</label>
                            <input type="text" class="form-control" id="agencia" name="agencia" ng-model="viewdata.model.Agencia">
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="conta">Conta</label>
                            <input type="text" class="form-control" id="conta" name="conta" ng-model="viewdata.model.Conta">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="calculoDiarias">
                <div class="panel-heading">Cálculo de Diárias</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="dataPartida">Data Partida</label>
                            <div class="input-group date form_datetime" data-provide="datepicker" data-date-language="pt-BR">
                                <input type="text" class="form-control" id="dataPartida" name="dataPartida" ng-model="viewdata.model.DataPartida">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="dataRetorno">Data Retorno</label>
                            <div class="input-group date form_datetime" data-provide="datepicker" data-date-language="pt-BR">
                                <input type="text" class="form-control" id="dataRetorno" name="dataRetorno" ng-model="viewdata.model.DataRetorno">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="situacaoRisco">Situação de Risco/Vulnerabilidade</label>
                            <br />
                            <input type="checkbox" id="situacaoRisco" name="situacaoRisco"
                                   bs-switch switch-on-text="Sim" switch-off-text="Não" switch-on-color="primary" switch-off-color="default"
                                   ng-model="viewdata.model.SituacaoRisco">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label class="control-label" for="alimentacaoHospedagem">Alimentação/Hospedagem Fornecidos</label>
                            <br />
                            <input type="checkbox" id="alimentacaoHospedagem" name="alimentacaoHospedagem"
                                   bs-switch switch-on-text="Sim" switch-off-text="Não" switch-on-color="primary" switch-off-color="default"
                                   ng-model="viewdata.model.AlimentacaoHospedagem">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label class="control-label" for="cargoBaseCalculo">Cargo para Base de Cálculo</label>
                            <select class="form-control" id="cargoBaseCalculo" name="cargoBaseCalculo" ng-model="viewdata.model.CargoBaseCalculo"></select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="control-label" for="motivoDeslocamento">Motivo do Deslocamento</label>
                            <select class="form-control" id="motivoDeslocamento" name="motivoDeslocamento" ng-model="viewdata.model.MotivoDeslocamento"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label class="control-label" for="regiaoDeslocamento">Região Geográfica</label>
                            <select class="form-control" id="regiaoDeslocamento" name="regiaoDeslocamento" ng-model="viewdata.model.RegiaoDeslocamento"></select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label class="control-label" for="deslocamento">Deslocamento (incluindo origem)</label>
                            <select class="form-control" id="deslocamento" name="deslocamento"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <a href="javascript:void(0)" class="btn btn-success col-xs-12">Adicionar Trecho &nbsp;<span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br />
    </div>
    @{ Html.RenderPartial("Modals/_exibirBeneficiario"); }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/solicitarDiariaCtrl")
    @Scripts.Render("~/bundles/jquerySetupMasks")
}
